<div id="content">
    <div class="row">
        <div class="col-md-12 ">
            <button class="btn  btn-social btn-default ng-binding" (click)="regresar()">
                <i class="fa fa-reply"></i> Back
            </button>
        </div>
        <div class="col-sm-12">
            <div *ngIf="subCategories">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 ">
                    <h1>Sub Categories</h1>
                    <hr>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xs-6" *ngFor="let category of subCategories">
                    <div class="product-content product-wrap clearfix">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="product-deatil">
                                    <h5 class="name">
                                        <a (click)="goToProducts(category.ID)">
						                    {{ category.NAME }}
					                    </a>
                                    </h5>
                                    <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas ..</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="products">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <h1>Products</h1>
                    <hr>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 well" *ngFor="let product of products; let i = index">

                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">

                        <div class="product-content product-wrap clearfix">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="product-deatil">
                                        <h5 class="name">
                                            <a>
						                    {{ product.NAME }}
					                    </a>
                                        </h5>
                                        <p class="price-container">
                                            <span>${{ product.PRICESELL }}</span>
                                        </p>
                                        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas ..</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                        <span class="ui-spinner ui-corner-all ui-widget ui-widget-content" style="height: 32px;">
                            <input [(ngModel)]="products[i].QUANTITY" class="form-control spinner-both ui-spinner-input">
                            <a aria-hidden="true" (click)="addQuantity(i)" class="ui-spinner-button ui-spinner-up ui-corner-tr"></a>
                            <a aria-hidden="true" (click)="subtractQuantity(i)"class="ui-spinner-button ui-spinner-down ui-corner-br"></a>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            <!--[(ngModel)]="numberProducts[i].quantity"
                <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="users" [index]="i" *ngFor="let user of users; let i = index"></app-heroe-tarjeta>

            <div class="card-columns">
                <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="localHeroe" [index]="i" *ngFor="let localHeroe of heroes; let i = index"></app-heroe-tarjeta>
            </div>-->
        </div>
    </div>
</div>