<div class="login-info" *ngIf="globals">
  <span><a (click)="toggleShortcut()">
	   <img *ngIf="globals.picture" [src]="globals.picture" alt="me"
          class="online"/><span >{{globals.user }}</span> <i class="fa fa-angle-down"></i>
    </a>
   </span>
</div>
