<div id="content">
    <div class="row">
        <div class="col-md-12 ">
            <button class="btn  btn-social btn-default ng-binding" (click)="regresar()">
                <i class="fa fa-reply"></i> Back
            </button>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-6" *ngFor="let category of categories">
                <div class="product-content product-wrap clearfix">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="product-deatil">
                                <h5 class="name">
                                    <a (click)="goToProducts(category.ID)">
						                    {{ category.NAME }}
					                    </a>
                                </h5>
                                <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas ..</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="users" [index]="i" *ngFor="let user of users; let i = index"></app-heroe-tarjeta>

            <div class="card-columns">
                <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="localHeroe" [index]="i" *ngFor="let localHeroe of heroes; let i = index"></app-heroe-tarjeta>
            </div>-->
        </div>
    </div>
</div>