<div id="content">
    <div class="row">
        <div class="col-md-12 ">
            <button class="btn  btn-social btn-default ng-binding" (click)="regresar()">
                <i class="fa fa-reply"></i> Back
            </button>
        </div>
        <br>
        <div class="col-sm-12">
            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->

                <!-- widget content -->
                <div>

                    <table id="datatable_col_reorder" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th data-hide="expand">Name</th>
                                <th data-hide="phone,tablet">Value</th>
                                <th style="width: 32%" data-hide="phone,tablet">Unit</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let product of this.globalService.globals.sharedTicked.products; let i = index; ">
                                <td>{{ product.attributes["product.name"] }}</td>
                                <td>{{ product.price }}</td>
                                <td>
                                    <span class="ui-spinner ui-corner-all ui-widget ui-widget-content" style="height: 32px;">
                                        <input [(ngModel)]="product.multiply" class="form-control spinner-both ui-spinner-input">
                                        <a aria-hidden="true" (click)="addQuantity(i)" class="ui-spinner-button ui-spinner-up ui-corner-tr"></a>
                                        <a aria-hidden="true" (click)="subtractQuantity(i)"class="ui-spinner-button ui-spinner-down ui-corner-br"></a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td> Total </td>
                                <td> {{ total }}</td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <div class="col-sm-12">
            <button (click)="goToCategories()" type="button" class="btn btn-success btn-block">
            <i class="glyphicon glyphicon-plus"></i> Add product
            </button>
        </div>
    </div>
</div>