<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xs-6" *ngFor="let user of users">
                <div class="product-content product-wrap clearfix">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="product-deatil">
                                <h5 class="name">
                                    <a (click)="showModal(user.ID, user.NAME)">
						                    {{ user.NAME }}
					                </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div bsModal #passModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="container">
                        
                            <div class="form-group row">
                                <label for="inputPassword" [ngClass]="{'text-danger': error}" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-12 col-lg-12">
                                    <input [(ngModel)]="password1" type="password" [ngClass]="{'is-invalid': error}" class="form-control" id="inputPassword" placeholder="Enter your password">
                                </div>
                                <div *ngIf="error" class="col-sm-12">
                                    <small id="passwordHelp" class="text-danger">
                                        Incorrect password.
                                    </small>
                                </div>
                            </div>
                        
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="passModal.hide()">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-success" (click)="login()">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>