<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Home']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">

                <h1>octo<i>POS</i></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae corporis dignissimos doloremque eaque eum modi, quia reprehenderit unde voluptatem.</p>
            </div>
        </div>
    </div>
</div>